@import "tailwindcss";

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #24395b;
  border-radius: 10px;
  border: 2px solid #1f2937;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1f3557 #1f2937;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body * {
    visibility: hidden;
  }

  #print-content, #print-content * {
    visibility: visible;
  }

  #print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: white !important;
    color: black !important;
  }

  /* Force background colors for print */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
